# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# =========================
# Environment variables
# =========================
.env

# =========================
# Node / React
# =========================
node_modules/
build/
dist/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter / temp
# =========================
.ipynb_checkpoints/

# =========================
# Cache folders
# =========================
.cache/

# =========================
# Misc
# =========================
*.tmp
*.bak